<select class="input-medium buildChild"
        ng-model="builds[$index].platform"
        ng-options="p.name for p in platforms | added:builds[$index].platform"
        ng-change="updatePlatformVersion($index);">
</select>
<select class="input-medium buildChild"
        ng-model="builds[$index].platform_version"
        ng-options="v.name for v in builds[$index].platform.versions |  added:builds[$index].platform_version">
</select>
<div class="buildsVersions buildChild">
  <form ng-submit="checkBuild($index, $parent.$index)" class="buildVersion" ng-repeat="version in builds[$index].firefox_versions">
    <input type="text"
           class="input-medium"
           placeholder="Firefox Version"
           ng-model="version.name"
           ng-change="checkVersion($index, $parent.$index)">
    <input type="text"
           class="input-medium"
           placeholder="Locales"
           ng-model="version.locale"
           ng-change="checkLocales($index, $parent.$index)">
    </select>
    <button class="btn {{buttonClasses[version.buildsFound]}}" ng-click="checkBuild($index, $parent.$index)"><i class="{{iconClasses[version.buildsFound]}}"></i> Check build</button>
    <a class="danger {{(builds[$parent.$index].firefox_versions.length === 1) ? 'ng-hide':''}}" ng-click="removeVersion($index, $parent.$index)"><i class="icon-minus-sign"></i></a>
  </form>
  <button class="btn" ng-click="addVersion($index);"><i class="icon-plus"></i> Add a version </button>
</div>
<button class="btn btn-danger" class="buildChild" ng-click="removeBuild($index);"><i class="icon-remove"></i>  Remove build </button>