<div class="control-group ng-hide"
     ng-show="isUpdate();"
     title="You can edit the channel manually if you don't find the desired one in the list">
  <label class="control-label" for="inputUpdateChannel">Update Channel</label>
  <div class="controls">
    <input type="text"
           ng-model="$parent.updateChannel"
           placeholder="Select or enter channel name">
    <select id="inputUpdateChannel"
           type="text"
           class="input-medium"
           ng-model="channel"
           ng-change="change()"
           ng-options="chanel for chanel in updateChannels">
    </select>
    <i class="icon-arrow-down"></i>
  </div>
</div>