<form class="form-horizontal">
  <div class="formView">
    <legend>Testrun</legend>
    <div class="control-group">
      <label class="control-label" for="inputType">Type</label>
      <div class="controls">
        <select id="inputType"
                class="input-medium"
                ng-model="$root.testrun"
                ng-options="t.name for t in testruns">
        </select>
      </div>
    </div>
    <div class="control-group ng-hide"
         ng-show="isUpdate()">
      <label class="control-label">Build Version</label>
      <div class="controls">
        <select type="text"
                class="input-medium"
                ng-show="isUpdate()"
                ng-options="version for version in firefoxVersions"
                ng-model="target_build_version"
                ng-change="updateTargetBuildNumber(target_build_version)">
        </select>
      </div>
    </div>
    <div class="control-group ng-hide"
         ng-show="isUpdate()">
      <label class="control-label">Build Number</label>
      <div class="controls"
           ng-show="isUpdate()">
        <select type="text"
                class="input-medium"
                ng-options="version for version in target_build_numbers"
                ng-model="target_build_number"
                ng-change="checkTargetBuild(target_build_version + '#' + target_build_number.split('build')[1])">
        </select>
      </div>
    </div>
    <div class="control-group ng-hide"
         ng-show="isUpdate()">
      <label class="control-label">Build ID</label>
      <label class="controls input-medium">
        <i class="icon-refresh spin"
           ng-show="!target_build_id"
           style="position: relative; left: 50px"></i> {{target_build_id}}
      </label>
    </div>
    <channel></channel>
    <override-update-channel></override-update-channel>
    <div class="control-group">
      <label class="control-label" for="inputDashboard">Dashboard</label>
      <div class="controls">
        <select id="inputDashboard"
                class="input-medium"
                ng-model="$parent.dashboard"
                ng-options="d for d in dashboards">
        </select>
      </div>
    </div>
  </div>
  <notification  class="formView"></notification>
  <legend>Builds</legend>
  <ul id="buildsList">
    <h5 class="input-medium buildChild">Platform</h5>
    <h5 class="input-medium buildChild">Platform version</h5>
    <h5 class="buildChild">FF version</h5>
    <h5 class="buildChild">Build Number</h5>
    <h5 class="buildChild">Locales</h5>
    <li ng-repeat="build in builds">
      <build></build>
    </li>
  </ul>
  <button class="btn btn-success"
          ng-disabled="!platformsLeft()"
          ng-click="addBuild()"><i class="icon-plus"></i> Add a platform </button>
  <button class="btn {{buttonClasses[checkAllBuilds()]}}"
          ng-click="checkAll()">
    <i class="{{iconClasses[checkAllBuilds()]}}"></i>
    Check All builds
  </button>
  <button class="btn btn-danger"
          ng-click="clear()">
    <i class="icon-remove"></i> Clear
  </button>
</form>
